<html>

<head>
<meta charset="utf-8" />
<title>ClubHub</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
<link href="../css/main.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../js/main.js"></script>
</head>

<body>
	<div id="content">
<div class="logo"><img src="../img/logo.png"/></div>

<div id="right-panel">
	<div id="tabs">
		<ul>
		<li><a href="#tabs-1">Events</a></li>
		<li><a href="#tabs-2">Sponsors</a></li>
		<li><a href="#tabs-3">Donations</a></li>
		<li><a href="#tabs-4">Members</a></li>
		</ul>
		<div id="tabs-1">
		<p align="right"><button type="button" onclick="window.location.href = '/dashboard/addEvent'">Add Event</button> </p>
		<div id="eventaccordion">
			<% for(var i=0; i<events.length; i++) { %>
				<h3><%= events[i].name %></h3>
				<div>
					<p>Date: <%= events[i].date %><br>
						Budget: $<%= events[i].budget %>
					</p>

							<p align="right">
							<button type="button" onclick="document.location.href = '/email.html'">Email</button> 
							<button type="button" onclick="document.location.href = '/dashboard/editEvent/<%= events[i]._id %>'">Edit</button> 
							<button type="button" onclick="document.location.href = '/dashboard/deleteEvent/<%= events[i]._id %>'">Delete</button> </p>
				</div>
				<% } %>
		</div>
		</div>
		<div id="tabs-2">
		<p align="right"><button type="button" onclick="window.location.href = '/dashboard/addSponsor'">Add Sponsor</button> </p>
		<div id="sponsoraccordion">
			<% for(var i=0; i<sponsors.length; i++) { %>
				<h3><%= sponsors[i].name %></h3>
				<div>
					<p>Contact: <%= sponsors[i].contact %><br>
						Email: <%= sponsors[i].email %><br>
						Phone: <%= sponsors[i].phone %><br>
						Club: <%= sponsors[i].club %>
					</p>

							<p align="right">
							<button type="button" onclick="document.location.href = '/dashboard/editSponsor/<%= sponsors[i]._id %>'">Edit</button> 
							<button type="button" onclick="document.location.href = '/dashboard/deleteSponsor/<%= sponsors[i]._id %>'">Delete</button> </p>
				</div>
				<% } %>
		</div>
		</div>
		<div id="tabs-3">
		<p align="right"><button type="button" onclick="window.location.href = '/dashboard/addDonation'">Add Donation</button> </p>
		<div id="donationsaccordion">
			<% for(var i=0; i<donations.length; i++) { %>
				<h3>$<%= donations[i].amount %></h3>
				<div>
							<p align="right">
							<button type="button">Edit</button> 
							<button type="button">Delete</button> </p>
				</div>
				<% } %>
		</div>
		</div>

		<div id="tabs-4">
		<p align="right"><button type="button" onclick="window.location.href = '/dashboard/addMember'">Add Member</button> </p>
		<div id="membersaccordion">
			<% for(var i=0; i<members.length; i++) { %>
				<h3><%= members[i].name %> (<a href="/email.html?to=<%= members[i].email %>"><%= members[i].email %></a>)</h3>
				<% } %>
		</div>
		</div>
	</div>
</div>
</body>

</html>
